.wrapper {
  box-shadow: 0px 0px 7px 1px rgba(151, 133, 133, 0.17);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(151, 133, 133, 0.17);
  -moz-box-shadow: 0px 0px 7px 1px rgba(151, 133, 133, 0.17);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(250, 251, 255) !important;
}
